.input {
    border-radius: 3rem;
}

.space-top{
    padding-top: 2rem;
}

.space-sides{
    padding-left: 2rem;
    padding-right: 2rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center
}

/* SearchBar */
.search-button {
    border-radius: 3rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 1rem;
}