.input {
    border-radius: 3rem;
}

.space-top{
    margin-top: 2rem;
}

.space-sides{
    margin-left: 2rem;
    margin-right: 2rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center
}

/* SearchBar */
.search-button {
    border-radius: 3rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 1rem;
}

.link, .link:hover {
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-color: white;
    border: none;
    cursor: pointer;
}

.link:focus{
    outline: none;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
}

.link-active::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1db954;
    width: 100%;
}

.btn-active{
    background-color: white;
    border: none;
    cursor: pointer;
}

.btn-active:focus{
    outline: none;
}

/* List */
.column{
    flex-direction: column;
}
