.input {
    border-radius: 3rem;
}

.space-top{
    margin-top: 2rem;
}

.space-sides{
    margin-left: 2rem;
    margin-right: 2rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center
}

.buttonSpotify {
    border-color: white;
    background-color: #1db954;
    border-radius: 3rem;
}

.buttonSpotify:hover {
    border-color: white;
    background-color: #1ED760;
}

.buttonSpotify:active {
    border-color: white;
    background-color: #1ED760;
}